header.header
    .header_social 
        include ./social_icons.pug    
    .header_logo
        h1.logo Hipsum Blog
    .header_search  
        .header_search_icon 
            img(src="./img/icons/search.svg", alt="search", width="26")
        .header_search_subscribe
            button.button_rounded Subscribe