+widget("Instagram")
    .widget-instagram 
        +widget-instagram-item("inst-01.jpg", "photo-1")
        +widget-instagram-item("inst-02.jpg", "photo2")
        +widget-instagram-item("inst-03.jpg", "photo3")
        +widget-instagram-item("inst-04.jpg", "photo4")
        +widget-instagram-item("inst-05.jpg", "photo5")
        +widget-instagram-item("inst-06.jpg", "photo6")
        +widget-instagram-item("inst-07.jpg", "photo7")
        +widget-instagram-item("inst-08.jpg", "photo8")
        +widget-instagram-item("inst-09.jpg", "photo9")
        +widget-instagram-item("inst-10.jpg", "photo10")

        