.post {
    padding: 60px 0 40px;
    border-top: 1px solid #dde2e7;
}
.post_title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 33px;
    color: #1a1a1a;
    font-weight: 400;
    font-family: "Playfair Display", serif;
    text-align: center;
    }

.post_info{
    margin-bottom: 35px;
    font-size: 14px;
    text-transform: uppercase;
    color: #b0b0b0;
    font-weight: 700;
    text-align: center;
}
.post_img{
    margin-bottom: 40px;
    
}
.post_content{
    
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 28px;
    color: #1a1a1a;
   
}
.post_footer{
    display: flex;
    justify-content: space-between;
}
