//Libs
@import "./libs/bootstrap-grid.scss";
@import "./libs/bootstrap-reboot.scss";


//Blocks
@import "./blocks/base.scss";
@import "./blocks/header.scss";
@import "./blocks/social_icons.scss";
@import "./blocks/buttons.scss";
@import "./blocks/post.scss";
@import "./blocks/share-icons.scss";




/*
font-family: 'Exo 2', sans-serif;
font-family: 'Montserrat', sans-serif; - base font
font-family: 'Playfair Display', serif;
*/